---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Subscribe" image="/static/og/subscribe.png" />
  <Breadcrumbs items={[{ label: 'Subscribe', icon: 'lucide:newspaper' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <h1>Subscribe to Off by One</h1>
        <p class="mt-0">
          Get new posts delivered directly to your inbox. I write about
          engineering, management, and the intersection of the two.
        </p>
        <p>
          No spam, ever. You can unsubscribe at any time. I typically publish
          new content a few times a month, so you won't be overwhelmed with
          emails.
        </p>
        <p>
          If you'd prefer, you can also follow along via <Link
            href="/rss.xml"
            underline>RSS</Link
          > or on <Link href="https://x.com/can" external underline
            >Twitter/X</Link
          >.
        </p>
      </div>

      <div class="mx-auto mb-8 max-w-md">
        <script
          is:inline
          async
          data-uid="f9c7e3eb70"
          src="https://offbyone.kit.com/f9c7e3eb70/index.js"></script>
      </div>
    </div>
  </section>
</Layout>
